
<style>
  .center-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .form-container {
    width: 400px;
    background-color: #e9f0f6; 
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
  }
  .form-group {
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
  }

  .list-container {
    margin-top: 30px;
  }
  .col {
    margin-top: 30px;
  }
  .list-container{
    background-color: #f4e9f6; 
  }
</style>


<div class="container">
<div class="row">
  <div class="col">
    <div class="center-form">
      <form id="task-form" class="form-container">
        <h2>Agrega tu tarea</h2>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombreTarea" [(ngModel)]="nuevaTarea.nombre" name="nombreTarea" required placeholder="titulo">
        </div>

        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <textarea id="descripcionTarea" [(ngModel)]="nuevaTarea.descripcion" name="descripcionTarea" placeholder="descripcion..."></textarea>
        </div>

        <div class="form-check">
          <label class="form-check-label" for="urgent">¿Es urgente?</label>
          <select id="urgente" [(ngModel)]="nuevaTarea.urgente" name="urgente">
            <option value="true">Sí</option>
            <option value="false">No</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" (click)="agregarTarea()" style="margin: 25px;">Añadir</button>
      </form>
      
     
    </div>
  </div>
  <div class="col">
    <h2>Lista de tareas</h2>
    <div class="list-container">
      
          <ul>
            <li *ngFor="let tarea of tareas" [ngClass]="{ 'urgente': tarea.urgente }">
              <h3>{{ tarea.nombre }}</h3>
              <p>{{ tarea.descripcion }}</p>
            </li>
          </ul>
      
    </div>
  </div>
</div>
</div>



