<h1>{{title}}</h1>

<div class="container">
    <div class="col">
     <form class="form-gorup row">
      <div class="form-gorup col-md-3">
        <label for="nombre"> Nombre: </label>
        <input type="text" name="nombre" id="nombre" placeholder="nombre" class="form-control" [(ngModel)]="datoNombre">
      </div>
     </form>

     <form class="form-gorup row">
      <div class="form-gorup col-md-3">
        <label for="apellido"> Apellido: </label>
        <input type="text" name="apellido" id="apellido" placeholder="apellido" class="form-control" [(ngModel)]="datoApellido">
      </div>
     </form>

     <form class="form-gorup row">
      <div class="form-gorup col-md-3">
        <label for="edad"> Edad: </label>
        <input type="text" name="edad" id="edad" placeholder="edad" class="form-control" [(ngModel)]="datoEdad">
      </div>
     </form>

     <button type="submit" class="btn btn-primary" (click)="anadirUsuario()" style="margin: 25px;">Añadir</button>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col">
      <div *ngFor="let usuario of usuarios; let i=index">
       {{i+1}} {{usuario.nombre}} {{usuario.apellido}} {{usuario.edad}}
      </div>
    </div>
  </div>
</div>
